@font-face {
  font-family: "Agustina Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Agustina Regular"),
    url("./assets/fonts/Agustina.woff") format("woff");
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url("./assets/fonts/Montserrat-Regular.ttf") format("woff");
}
@font-face {
  font-family: "Google Sans Bold";
  src: local("JetBrains Mono Bold"),
    url("./assets/fonts/JetBrainsMono-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Google Sans Bold Italic";
  src: local("JetBrains Mono Bold Italic"),
    url("./assets/fonts/JetBrainsMono-BoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Google Sans Italic";
  src: local("JetBrains Mono Italic"),
    url("./assets/fonts/JetBrainsMono-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Google Sans Medium";
  src: local("JetBrains Mono Medium"),
    url("./assets/fonts/JetBrainsMono-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Google Sans Medium Italic";
  src: local("JetBrains Mono Medium Italic"),
    url("./assets/fonts/JetBrainsMono-MediumItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Google Sans Regular";
  src: local("JetBrains Mono Regular"),
    url("./assets/fonts/JetBrainsMono-Regular.ttf") format("truetype");
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  margin: 0;
  font: 19px / 23px Montserrat, "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* Media Query */
@media (max-width: 1380px) {
  html,
  body {
    font-size: 16px;
    line-height: normal;
  }
}

:root {
  --scrollbar-color: white; /* it will change when the page loads*/
}
* {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-color) transparent;
}